cleaned_del.csv
cleaned_match.csv
data preprocess.ipynb
deliveries.csv
ipl apis.ipynb
ipl-complete-data-analysis-2008-to-2024.ipynb
matches.csv
Untitled-1.py
Untitled-2.py

.ipynb_checkpoints/